spring.application.name=ToDoList

// if you use the mysql
spring.datasource.url=jdbc:mysql://localhost:3306/"db's name"
spring.datasource.username="username"
spring.datasource.password="password"
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver

spring.jpa.hibernate.ddl-auto=update
